.nav-bar-li>.roblox2{
    color: rgb(189, 189, 189);
}
.nav-bar-li>.home2{
    color: rgb(255, 255, 255);
}
.nav-bar-li-o>.others2{
    color: rgb(255, 255, 255);
}




.nav-bar-li>.roblox{
    color: rgb(255, 255, 255);
}
.nav-bar-li>.home{
    color: rgb(189, 189, 189);
}
.nav-bar-li-o>.others{
    color: rgb(255, 255, 255);
}




.nav-bar-li>.roblox3{
    color: rgb(255, 255, 255);
}
.nav-bar-li>.home3{
    color: rgb(255, 255, 255);
}
.nav-bar-li-o>.others3{
    color: rgb(189, 189, 189);
}